*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
font-family: Caladea;
background-image: url('fondoindex.png');
}

.from-head{

	width: 250px;
	height: 140px;
	background: #F4B41A;
	margin: auto;
	margin-top: 180px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #143D59;
	color: black;
	text-align: center;
}

.botones{
	width: 75%;
	height: 30px;
	background: #143D59;
	border: none;
	color: white;
	margin-bottom: 16px;
}

.from-foot{
	width: 100%;
	height: 125px;
	background: #F4B41A;
	margin: auto;
	margin-top: 180px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #143D59;
	color: black;
	text-align: center;
}