*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url('fondoregistro.png');
}
.from-registro{
	width: 425px;
	height: 620px;
	background: #F4B41A;
	padding: 30px;
	margin: auto;
	margin-top: 4px;
	font-family: Caladea;
	color: white;
	border-top: 4px solid #143D59;
	box-shadow: 7px 13px 37px #000;
}

.from-registro h2{
	font-size: 22px;
	margin-bottom: 20px;
	color: black;
	text-align: center;
}

.controls{
	width: 100%;
	background: white;
	padding: 11px 0;
	border-radius: 4px;
	margin-bottom: 10px;
	border: 1px solid yellow;
	font-family: Caladea;
	font-size: 18px;
}

.from-registro p {
	height: 40px;
	text-align: center;
	font-size: 18px;
	color: black;
	line-height: 40px;
}

.from-registro a {
	color: black;
	text-decoration: underline;
}

.from-registro .botons{
	width: 100%;
	background: #143D59;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16 ;
}

.from-foot{
	width: 100%;
	height: 125px;
	background: #F4B41A;
	margin: auto;
	margin-top: 180px;
	box-shadow: 7px 13px 37px #000;
	padding: 20px 30px;
	border-top: 4px solid #143D59;
	color: black;
	text-align: center;
}